# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific aliases and functions
export admin_path={{ wf_user_path }}/sysadmin
export eupath_dir={{ wf_user_path }}

if [[ -f "{{ wf_user_path }}/sysadmin/bashrc" ]];then
  source {{ wf_user_path }}/sysadmin/bashrc
fi
